body {
  font-family: sans-serif;
  font-size: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.main .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0px 10px;
}

.search input {
    height: 24px;
    padding: 4px;
    margin-right: 4px;
    width: 400px;
}

.search button {
    height: 36px;
    padding: 0 16px;
}

.main ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.main ul li {
  margin: 4px 0px;
}

.main ul li span{
  color: red;
}


.main p {
  color: #666;
}

.scrollable {
  flex:1;
  overflow: scroll;
}
